body{
    position: absolute;
    top: 0px; /* Definir despues */
    left: 0px;
    right: 0px;
    bottom: 0px; /* Definir despues */ 
    min-height: 530px;
    
    
}
.fatcontainer{
    position: absolute;
    top: 80px; /* Definir despues */
    left: 0px;
    right: 0px;
    bottom: 80px; /* Definir despues */

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;

    background-image: url("../img/imgInicioSesion/imagenFondo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img{
    height: 300px;
    width: 300px;
    margin: 10px;
}
.menus{
    display: flex;
    grid-template-columns: repeat(3, 550px);
    grid-gap: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menus > div{
    background-color: #AEAFB3;
    border-radius: 30px 30px 30px 30px;
    font-family: Century Gothic, sans-serif;
    font-size: 40px;
    padding: 7px;
    font-weight: bolder;
}
.menus >div:hover{
    background-color: #707070;
}